<table>
  <thead>
    <tr>
      <th>TITLE</th>
      <th>AUTHORS</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="book-item" *ngFor="let book of books">
      <td>{{ book.volumeInfo.title }}</td>
      <td>by {{ book.volumeInfo.authors }}</td>
      <td>
        <button (click)="add.emit(book.id)" data-test="add-button">buy</button>
      </td>
    </tr>
  </tbody>
</table>
