<table *ngIf="items.length">
  <thead>
    <tr>
      <th>TITLE</th>
      <th>COUNT</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="book-item" *ngFor="let item of items">
      <td>{{ item.title }}</td>
      <td>{{ item.count }}</td>
      <td>
        <button (click)="remove.emit(item)">remove</button>
      </td>
    </tr>
  </tbody>
</table>
