<h1>NgRx Walkthrough</h1>

<div class="row card">
  <div class="col-6">
    <h2>Books</h2>
    <h3 style="color: red" *ngIf="booksLoading$ | async">Loading...</h3>
    items count {{ itemsCount$ | async }}
    <app-book-list
      [books]="books$ | async"
      (add)="onAdd($event)"
    ></app-book-list>
  </div>
  <div class="col-6">
    <h2>Basket</h2>
    cart count {{ cartCount$ | async }}
    <app-basket
      [items]="(bookCollection$ | async) || []"
      (remove)="onRemove($event)"
    >
    </app-basket>
  </div>
</div>
